* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-black-color: #a7a7a7;
  --icon-color: #444444;
  --profile-btn-color: #242733;
  --profile-btn-hover-color: #5c5e66;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 162rem;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .container {
    max-width: 144rem;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 132rem;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 112rem;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 92rem;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: calc(100% - 8rem);
  }
}

@media (max-width: 767px) {
  .container {
    max-width: calc(100% - 4rem);
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 2.4rem;
  }
}

.auth-container {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100vh;
}

@media (max-width: 1024px) {
  .auth-container {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.auth-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 575px) {
  .auth-item {
    padding: 3.2rem 1.6rem !important;
  }
}

.auth-item:first-child {
  color: #fff;
  background-color: #4c6fff;
  padding: 0 8rem;
}

@media (max-width: 1600px) {
  .auth-item:first-child {
    padding: 0 6rem;
  }
}

@media (max-width: 1200px) {
  .auth-item:first-child {
    padding: 4rem;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  .auth-item:first-child {
    flex-direction: row;
    align-items: center;
    gap: 2.4rem;
    padding: 4rem;
  }
}

.auth-item > img {
  height: 52rem;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 1600px) {
  .auth-item > img {
    height: 40rem;
  }
}

@media (max-width: 1200px) {
  .auth-item > img {
    height: 36rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .auth-item > img {
    width: 45%;
  }
}

@media (max-width: 575px) {
  .auth-item > img {
    height: 28rem;
    margin-top: 3.2rem;
  }
}

.auth-title-primary {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 12rem;
}

@media (max-width: 1600px) {
  .auth-title-primary {
    margin-bottom: 8rem;
  }
}

@media (max-width: 1024px) {
  .auth-title-primary {
    font-size: 4rem;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .auth-title-primary {
    font-size: 3.6rem;
  }
}

.auth-title-secondary {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.auth-error {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 0.8rem;
  color: #ff2727;
  background-color: #fcecec;
  margin-bottom: 2.4rem;
}

.auth-item:last-child {
  padding: 0 28rem;
}

@media (max-width: 1600px) {
  .auth-item:last-child {
    padding: 0 16rem;
  }
}

@media (max-width: 1200px) {
  .auth-item:last-child {
    padding: 0 8rem;
  }
}

@media (max-width: 1024px) {
  .auth-item:last-child {
    padding: 4rem;
  }
}

.auth-form {
  width: 100%;
}

.auth-form .form-item {
  margin-bottom: 2.4rem;
}

.auth-form .form-item:last-of-type {
  margin-bottom: 4rem;
}

.auth-form :where(*, .form-item *) {
  display: block;
}

.auth-form .form-item label {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.auth-form .form-item input {
  height: 5.2rem;
  width: 100%;
  padding: 1.6rem;
  border-radius: 1.2rem;
}

.auth-btn,
.google-auth {
  color: #fff;
  background-color: #667acc;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  width: 100%;
  padding: 1.6rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 1.2rem;
  margin-bottom: 1.6rem;
}

.google-auth {
  position: relative;
  border: 2px solid #000;
  color: #000;
  background-color: transparent;
  margin-bottom: 3.2rem;
}

.google-auth img {
  position: absolute;
  top: 50%;
  left: 3.2rem;
  translate: 0 -50%;
  height: 2.4rem;
  width: 2.4rem;
}

.auth-btn:hover,
.auth-btn:focus {
  color: #fff;
  background-color: #242733;
}

.auth-item > p {
  font-size: 1.6rem;
}

.auth-item > p a {
  display: inline-block;
  color: #667acc;
  text-decoration: none;
  margin-left: 0.8rem;
}

.auth-item > p a:hover,
.auth-item > p a:focus {
  color: #000;
}

.navbar-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  border-bottom: 1.5px solid var(--light-black-color);
}

@media (max-width: 1024px) {
  .navbar-container {
    grid-template-columns: auto 1fr auto;
  }
}

@media (max-width: 767px) {
  .navbar-container {
    grid-template-columns: 1fr auto auto;
    gap: 1.6rem;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
}

.navbar-container svg,
.search-bar svg {
  height: 1.8rem;
  width: 1.8rem;
  color: var(--icon-color);
}

.logo {
  font-size: 3.5rem;
  font-weight: 600;
}

@media (max-width: 991px) {
  .logo {
    font-size: 2.8rem;
  }
}

@media (min-width: 768px) {
  .responsive-searchbar-icon {
    display: none;
  }
}

@media (max-width: 767px) {
  .responsive-searchbar-icon {
    background-color: transparent;
    border: 0;
    outline: 0;
  }
}

.navbar-form,
.user-info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.navbar-container .navbar-form {
  justify-self: center;
}

@media (max-width: 767px) {
  .navbar-container .navbar-form {
    display: none;
  }
}

.navbar-form input {
  height: 4rem;
  width: 40rem;
  padding: 1.2rem;
  outline: none;
  border: 1.5px solid var(--light-black-color);
}

@media (max-width: 991px) {
  .navbar-form input {
    width: 24rem;
  }
}

.navbar-form-button {
  height: 4rem;
  width: 6rem;
  cursor: pointer;
  border: 1px solid var(--light-black-color);
}

@media (max-width: 991px) {
  .navbar-form input,
  .navbar-form-button {
    height: 3.2rem;
  }

  .navbar-form-button {
    width: 4.8rem;
  }
}

.user-info-container {
  position: relative;
  justify-self: flex-end;
  cursor: pointer;
}

.user-info-container span {
  font-size: 1.6rem;
}

@media (max-width: 1024px) {
  .user-info span {
    display: none;
  }
}

.user-info-option {
  position: absolute;
  top: 3.2rem;
  right: 0;
  width: 24rem;
  background-color: #fff;
  box-shadow: 0 0.6rem 1rem 0 rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

.user-info-option.show-info-option {
  opacity: 1;
  visibility: visible;
  top: 4rem;
}

.user-info-option > * {
  padding: 1.6rem;
}

.user-info-option > *:hover,
.user-info-option > *:focus {
  background-color: #eeeeee;
}

.user-info-option > span {
  display: block;
}

@media (min-width: 1025px) {
  .user-info-option > span {
    display: none;
  }
}

.user-logout {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

@media (min-width: 768px) {
  .search-bar {
    display: none;
  }
}

@media (max-width: 767px) {
  .search-bar {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    transition: top 0.6s;
  }

  .search-bar.active {
    top: 0;
  }

  .search-bar .navbar-form {
    align-self: flex-start;
    justify-content: center;
    padding-top: 8rem;
    width: 100%;
  }

  .search-bar .navbar-form input,
  .search-bar .navbar-form button {
    height: 4.4rem;
  }

  .search-bar .navbar-form input {
    width: calc(100% - 24rem);
  }
}

@media (max-width: 575px) {
  .search-bar .navbar-form input {
    width: calc(100% - 8rem);
  }
}

.search-bar-close {
  position: absolute;
  top: 3.2rem;
  right: 5.6rem;
  padding: 0.2rem 0.4rem;
}

@media (max-width: 575px) {
  .search-bar-close {
    right: 1.6rem;
  }
}

.dashboard-container {
  display: grid;
  grid-template-columns: 80% 20%;
}

@media (max-width: 1024px) {
  .dashboard-container {
    grid-template-columns: 70% 30%;
  }
}

@media (max-width: 991px) {
  .dashboard-container {
    grid-template-columns: 100%;
  }
}

.main-block-container {
  padding-right: 3.2rem;
  margin-bottom: 4rem;
  border-right: 1px solid var(--light-black-color);
}

@media (max-width: 991px) {
  .main-block-container {
    border-right: 0;
    padding-right: 0;
  }
}

.btn-add-book,
.popup-btn-submit {
  border: 0;
  outline: 0;
  color: #fff;
  background-color: var(--profile-btn-color);
  font-size: 1.8rem;
  padding: 1.2rem 2rem;
  cursor: pointer;
  margin-top: 3.2rem;
}

.btn-add-book:hover,
.btn-add-book:focus,
.popup-btn-submit:hover,
.popup-btn-submit:focus {
  background-color: var(--profile-btn-hover-color);
}

.btn-add-book svg {
  margin-left: 1.2rem;
}

.add-new-popup-container {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #95a6eb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  transition: top 0.6s;
}

.add-new-popup-container.active {
  top: 0;
}

.new-popup-content {
  position: relative;
  max-width: 68rem;
  width: 100%;
  background-color: #fff;
  padding: 6rem;
}

@media (max-width: 767px) {
  .new-popup-content {
    max-width: 56rem;
    padding: 2.4rem;
  }
}

@media (max-width: 575px) {
  .new-popup-content {
    max-width: calc(100% - 4.8rem);
    padding: 2.4rem;
  }
}

.popup-title {
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
  text-align: center;
}

@media (max-width: 575px) {
  .popup-title {
    font-size: 4rem;
    margin-bottom: 2.4rem;
  }
}

.popup-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popup-form-item {
  margin-bottom: 3.2rem;
}

@media (max-width: 575px) {
  .popup-form-item {
    margin-bottom: 1.6rem;
  }
}

.popup-form-item label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
}

.popup-form-item:where(:first-child, :nth-child(2)) {
  width: calc(50% - 1.6rem);
}

@media (max-width: 575px) {
  .popup-form-item:where(:first-child, :nth-child(2)) {
    width: 100%;
    margin-bottom: 1.6rem;
  }
}

.popup-form-item input {
  width: 100%;
  height: 4.8rem;
  padding: 1.6rem;
}

.popup-form-item:where(:nth-child(3), :nth-child(4)) {
  width: 100%;
}

.popup-form-item textarea {
  width: 100%;
  height: 16rem;
  padding: 1.6rem;
  resize: none;
}

@media (max-width: 575px) {
  .popup-form-item textarea {
    height: 12rem;
  }
}

.popup-btn-submit {
  width: 100%;
  margin-top: 0;
  padding: 1.6rem 0;
}

.popup-btn-close {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  border: 0;
  outline: 0;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  background-color: #dcdcdc;
}

.popup-btn-close:hover,
.popup-btn-close:focus {
  color: #fff;
  background-color: #5c5e66;
}

.quote-container {
  margin-top: 2.4rem;
  padding-left: 3.2rem;
}

@media (max-width: 991px) {
  .quote-container {
    padding-left: 0;
  }
}

.quote {
  font-size: 4.2rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

@media (max-width: 1199px) {
  .quote {
    font-size: 3.2rem;
  }
}

.quote-author-name {
  font-size: 1.6rem;
}

.main-block-top {
  margin-bottom: 8rem;
}

@media (max-width: 1024px) {
  .main-block-top {
    margin-bottom: 4rem;
  }
}

.main-block-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

@media (max-width: 1024px) {
  .main-block-bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .main-block-bottom {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }
}

.block-bottom-item {
  cursor: pointer;
}

.bottom-item-image {
  height: 32rem;
  width: 100%;
  margin-bottom: 1.6rem;
}

.bottom-item-image img {
  height: 100%;
  width: 100%;
  padding: 1.6rem;
  object-fit: contain;
  background-color: #fafafa;
}

.bottom-item-image .no-image {
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--light-black-color);
}

.bottom-item-title {
  font-size: 2.5rem;
}

.bottom-item-author {
  display: block;
  font-size: 1.4rem;
  margin-top: 0.4rem;
}

.bottom-item-description {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 1.6rem;
}

.book-popup-container {
  position: fixed;
  top: -100vh;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: top 0.6s;
}

.book-popup-container.active {
  top: 0;
}

.book-popup-container::before {
  position: absolute;
  content: "";
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.book-popup-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  max-width: 104rem;
  background-color: #fff;
  padding: 6rem;
  z-index: 10;
}

@media (max-width: 1199px) {
  .book-popup-content {
    max-width: 100rem;
  }
}

@media (max-width: 1024px) {
  .book-popup-content {
    max-width: 88rem;
    padding: 3.2rem;
  }
}

@media (max-width: 991px) {
  .book-popup-content {
    max-width: calc(100% - 8rem);
    gap: 2.4rem;
  }
}

@media (max-width: 767px) {
  .book-popup-content {
    grid-template-columns: 1fr;
    max-height: calc(100% - 8rem);
    overflow-y: auto;
  }
}

@media (max-width: 575px) {
  .book-popup-content {
    max-width: calc(100% - 2.4rem);
  }
}

.book-popup-image {
  height: 56rem;
  padding: 2.4rem;
  background-color: #fafafa;
}

@media (max-width: 767px) {
  .book-popup-image {
    height: 44rem;
  }
}

.book-popup-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (min-width: 768px) {
  .book-popup-detail {
    max-height: 52rem;
    padding-right: 2rem;
    overflow-y: auto;
  }

  .book-popup-detail::-webkit-scrollbar {
    width: 0.4rem;
  }

  .book-popup-detail::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }

  .book-popup-detail::-webkit-scrollbar-thumb {
    background-color: var(--profile-btn-hover-color);
  }
}

.book-popup-title {
  font-size: 5.2rem;
}

.book-popup-author {
  display: block;
  font-size: 1.4rem;
  margin-top: 0.4rem;
}

.book-popup-description {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 2.4rem;
}

.book-popup-button-detail {
  margin-top: 3.2rem;
}

.book-btn {
  border: 0;
  outline: 0;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.07rem;
  padding: 1.6rem 6rem;
  margin-right: 1.6rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .book-btn {
    padding: 1.6rem 4rem;
  }
}

@media (max-width: 991px) {
  .book-btn {
    padding: 1.6rem 2.4rem;
  }
}

.book-btn-edit {
  color: #fff;
  background-color: var(--profile-btn-color);
}

.book-btn-delete {
  border: 2px solid var(--profile-btn-color);
  background-color: transparent;
}

.book-btn:hover,
.book-btn:focus {
  color: #fff;
  background-color: var(--profile-btn-hover-color);
  border-color: var(--profile-btn-hover-color);
}

.book-btn svg {
  margin-right: 0.8rem;
}
