* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

.auth-container {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100vh;
}

.auth-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.auth-item:first-child {
  color: #fff;
  background-color: #4c6fff;
  padding: 0 8rem;
}

.auth-item img {
  height: 52rem;
  width: 100%;
  object-fit: contain;
}

.auth-title-primary {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 12rem;
}

.auth-title-secondary {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.signup-title-primary {
  margin-bottom: 2.4rem;
}

.signup-description {
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.auth-item:last-child {
  padding: 0 28rem;
}

.auth-form {
  width: 100%;
}

.auth-form .form-item {
  margin-bottom: 2.4rem;
}

.auth-form .form-item:last-of-type {
  margin-bottom: 4rem;
}

.auth-form :where(*, .form-item *) {
  display: block;
}

.auth-form .form-item label {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.auth-form .form-item input {
  height: 5.2rem;
  width: 100%;
  padding: 1.6rem;
  border-radius: 1.2rem;
}

.auth-btn,
.google-auth {
  color: #fff;
  background-color: #667acc;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  width: 100%;
  padding: 1.6rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 1.2rem;
  margin-bottom: 1.6rem;
}

.google-auth {
  position: relative;
  border: 2px solid #000;
  color: #000;
  background-color: transparent;
  margin-bottom: 3.2rem;
}

.google-auth img {
  position: absolute;
  top: 50%;
  left: 3.2rem;
  translate: 0 -50%;
  height: 2.4rem;
  width: 2.4rem;
}

.auth-btn:hover,
.auth-btn:focus {
  color: #fff;
  background-color: #242733;
}

.auth-item > p {
  font-size: 1.6rem;
}

.auth-item > p a {
  display: inline-block;
  color: #667acc;
  text-decoration: none;
  margin-left: 0.8rem;
}

.auth-item > p a:hover,
.auth-item > p a:focus {
  color: #000;
}
