* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 162rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

@media (max-width: 1600px) {
  .container {
    max-width: 144rem;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 132rem;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 112rem;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 92rem;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: calc(100% - 8rem);
  }
}

@media (max-width: 767px) {
  .container {
    max-width: calc(100% - 4rem);
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}

.auth-container {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100vh;
}

@media (max-width: 1024px) {
  .auth-container {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.auth-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 575px) {
  .auth-item {
    padding: 3.2rem 1.6rem !important;
  }
}

.auth-item:first-child {
  color: #fff;
  background-color: #4c6fff;
  padding: 0 8rem;
}

@media (max-width: 1600px) {
  .auth-item:first-child {
    padding: 0 6rem;
  }
}

@media (max-width: 1200px) {
  .auth-item:first-child {
    padding: 4rem;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  .auth-item:first-child {
    flex-direction: row;
    align-items: center;
    gap: 2.4rem;
    padding: 4rem;
  }
}

.auth-item > img {
  height: 52rem;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 1600px) {
  .auth-item > img {
    height: 40rem;
  }
}

@media (max-width: 1200px) {
  .auth-item > img {
    height: 36rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .auth-item > img {
    width: 45%;
  }
}

@media (max-width: 575px) {
  .auth-item > img {
    height: 28rem;
    margin-top: 3.2rem;
  }
}

.auth-title-primary {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 12rem;
}

@media (max-width: 1600px) {
  .auth-title-primary {
    margin-bottom: 8rem;
  }
}

@media (max-width: 1024px) {
  .auth-title-primary {
    font-size: 4rem;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .auth-title-primary {
    font-size: 3.6rem;
  }
}

.auth-title-secondary {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.auth-error {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 0.8rem;
  color: #ff2727;
  background-color: #fcecec;
  margin-bottom: 2.4rem;
}

.auth-item:last-child {
  padding: 0 28rem;
}

@media (max-width: 1600px) {
  .auth-item:last-child {
    padding: 0 16rem;
  }
}

@media (max-width: 1200px) {
  .auth-item:last-child {
    padding: 0 8rem;
  }
}

@media (max-width: 1024px) {
  .auth-item:last-child {
    padding: 4rem;
  }
}

.auth-form {
  width: 100%;
}

.auth-form .form-item {
  margin-bottom: 2.4rem;
}

.auth-form .form-item:last-of-type {
  margin-bottom: 4rem;
}

.auth-form :where(*, .form-item *) {
  display: block;
}

.auth-form .form-item label {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.auth-form .form-item input {
  height: 5.2rem;
  width: 100%;
  padding: 1.6rem;
  border-radius: 1.2rem;
}

.auth-btn,
.google-auth {
  color: #fff;
  background-color: #667acc;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  width: 100%;
  padding: 1.6rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 1.2rem;
  margin-bottom: 1.6rem;
}

.google-auth {
  position: relative;
  border: 2px solid #000;
  color: #000;
  background-color: transparent;
  margin-bottom: 3.2rem;
}

.google-auth img {
  position: absolute;
  top: 50%;
  left: 3.2rem;
  translate: 0 -50%;
  height: 2.4rem;
  width: 2.4rem;
}

.auth-btn:hover,
.auth-btn:focus {
  color: #fff;
  background-color: #242733;
}

.auth-item > p {
  font-size: 1.6rem;
}

.auth-item > p a {
  display: inline-block;
  color: #667acc;
  text-decoration: none;
  margin-left: 0.8rem;
}

.auth-item > p a:hover,
.auth-item > p a:focus {
  color: #000;
}

.navbar-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 0 auto;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

@media (max-width: 1024px) {
  .navbar-container {
    grid-template-columns: auto 1fr auto;
  }
}

@media (max-width: 767px) {
  .navbar-container {
    grid-template-columns: 1fr auto auto;
    gap: 1.6rem;
  }
}

.logo {
  font-size: 3.5rem;
  font-weight: 600;
}

@media (max-width: 991px) {
  .logo {
    font-size: 2.8rem;
  }
}

.navbar-form,
.user-info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.navbar-form {
  justify-self: center;
}

@media (max-width: 767px) {
  .navbar-form {
    justify-self: flex-end;
  }
}

.navbar-form input {
  height: 4rem;
  width: 40rem;
  padding: 1.2rem;
  outline: none;
  border: 1.5px solid #000;
}

@media (max-width: 991px) {
  .navbar-form input {
    width: 24rem;
  }
}

@media (max-width: 767px) {
  .navbar-form input {
    display: none;
  }
}

.navbar-form-button {
  height: 4rem;
  width: 6rem;
  cursor: pointer;
}

@media (max-width: 991px) {
  .navbar-form input,
  .navbar-form-button {
    height: 3.2rem;
  }

  .navbar-form-button {
    width: 4.8rem;
  }
}

@media (max-width: 767px) {
  .navbar-form-button {
    background-color: transparent;
    border: 0;
    height: auto;
    width: auto;
  }
}

.navbar-form-button img,
.user-info-container img {
  height: 2.4rem;
  width: 2.4rem;
}

.user-info-container {
  position: relative;
  justify-self: flex-end;
  cursor: pointer;
}

.user-info-container span {
  font-size: 1.6rem;
}

@media (max-width: 1024px) {
  .user-info span {
    display: none;
  }
}

.user-info-option {
  position: absolute;
  top: 3.2rem;
  right: 0;
  width: 24rem;
  box-shadow: 0 0.6rem 1rem 0 rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

.user-info-option.show-info-option {
  opacity: 1;
  visibility: visible;
  top: 4rem;
}

.user-info-option > * {
  padding: 1.6rem;
}

.user-info-option > *:hover,
.user-info-option > *:focus {
  background-color: #eeeeee;
}

.user-info-option > span {
  display: block;
}

@media (min-width: 1025px) {
  .user-info-option > span {
    display: none;
  }
}

.user-logout {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
